.searchBar {
  display: flex;
  flex-direction: column;
  /* height: 40px; */
  margin-top: 10px;
  margin-bottom: 30px;
  justify-content: center;
}

.ant-select-dropdown {
  text-align: right;
}
.summary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 0px auto 20px 0px;
}
.summary button {
  margin-left: 10px;
  height: 100%;
}
.searchBar form {
  justify-content: center;
  display: flex;
  direction: rtl;
  margin-top: 20px;
}
.searchBar form .row {
  width: 80%;
}

.searchBar input::placeholder {
  font: 1.25rem/3 sans-serif;
}
.ant-select-dropdown .ant-select-item,
.ant-select-selection-item {
  font-size: 20px;
}
.custom-select {
  width: 100px;
}
.ant-select-selection-placeholder {
  font: 1.25rem/3 sans-serif;
  color: #595c5f !important;
}
