.complain-type{
    height: 50px;
    margin-top: 10px;
}

.complain-title {
    display: block;
    float: right;
    font-weight: 600;
  }
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* .modal{
    --bs-modal-width:650px  !important
  } */

@media (max-width: 320px) {
    audio {
     width: 250px;
   }
 }