.form-title{
    text-align: center;
    margin: 10px 0px;
  }
  .form-container {
      display: flex;
      justify-content: center;
      align-items: center;
      direction: rtl;
    }
    
    .form-container form {
      width: 400px;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .form-container .form-group {
      margin-bottom: 10px;
    }
    
    .form-container label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }
    
    .form-container input,
    .form-container select {
      display: block;
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    
    .form-container button {
      display: block;
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: #007bff;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
    }
    
    .form-container button:hover {
      background-color: #0069d9;
    }